
/*
Hintergrund
*/
body {
    color: #474973;
    background-color: #FFFFFF;
    font-size: 100.01%;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 1em;
}

/*
Umrandung von der Men端leiste
*/
ul#Navigation {
    font-size: 0.91em;
    float: left;
    width: 22em;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

/*
Men端leiste links: Optionen f端r die Liste
*/
ul#Navigation li {
    list-style: element(1);
    margin: 0;
    padding: 0.5em;
}

/*
Men端leiste links: Fett und Schrifthinterlegung
*/
ul#Navigation a {
    display: block;
    padding: 0.2em;
    font-weight: bold;
    font-family: Arial;
}

#logo {
    background-color: white;
}

#logo:hover {
    background-color: whitesmoke;
}

#logo:active {
     background-color: #c9c9c9;
 }
/*
wenn ich es noch nicht geklickt hab: bis klick dauerhaft
*/
.menubutton:link {
    color: black;
    background-color: #ededed;
    text-decoration: none;
}

/*
wenn man es mal geklickt hat: danach dauerhaft
*/
.menubutton:visited {
    color: black;
    background-color: white;
}

/*
wenn mitm Zeiger drauf
*/
.menubutton:hover {
    color: #000000;
    background-color: #c9c9c9;
}

/*
beim klicken
*/
.menubutton:active {
    color: #000000;
    background-color: #ababab;
}

/*

*/
div#Inhalt {
    margin-left: 22em;
    padding: 0 1em;
    min-width: 16em;
}

div#Inhalt h1 {
    font-size: 1.5em;
    margin: 0 0 1em;
    color: #9c0000;
}

div#Inhalt h2 {
    font-size: 1.2em;
    margin: 0 0 1em;
    color: #9c0000;
}

div#Inhalt p {
    font-size: 1em;
    margin: 1em 0;
}
/*
*Just for the help popup
*/
#backgroundPopup {
    display: none;
    position: fixed;
    _position: absolute; /* hack for internet explorer 6*/
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #9c0000;
    z-index: 1;
}

#popupContact {
    display: none;
    position: fixed;
    _position: absolute; /* hack for internet explorer 6*/
    height: 384px;
    width: 408px;
    background: #FFFFFF;
    z-index: 2;
    padding: 12px;
    font-size: 13px;
}

#popupContact h1 {
    text-align: left;
    color: #9c0000;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 2px;
    margin-bottom: 20px;
}

#popupContactClose {
    font-size: 14px;
    line-height: 14px;
    right: 6px;
    top: 4px;
    position: absolute;
    color: #9c0000;
    font-weight: 700;
    display: block;
}

/*div#Fusszeile {
    clear: both;
    font-size: 0.9em;
    margin: 0;
    padding: 0.1em;
    text-align: center;
    background-color: #ededed;
}*/

#popup {
    position: absolute;
    text-align: left;
    background-color: #000000;
    color: #ffffff;
    border: double;
    border-color: #9c0000;
}

/*
#popup {
    float: right;
    position: fixed;
    left: 35%;
    text-align: left;
    background-color: #000000;
    color: #ffffff;
}*/

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -40px;
    transition: 1.0s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.buttonKlein {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 8px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttonKlein span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonKlein span:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -40px;
    transition: 1.0s;
}

.buttonKlein:hover span {
    padding-right: 25px;
}

.buttonKlein:hover span:after {
    opacity: 1;
    right: 0;
}

.buttonKleinBreit {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 8px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttonKleinBreit span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonKleinBreit span:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -40px;
    transition: 1.0s;
}

.buttonKleinBreit:hover span {
    padding-right: 25px;
}

.buttonKleinBreit:hover span:after {
    opacity: 1;
    right: 0;
}

.buttonKleinSchwarz {
    display: inline-block;
    border-radius: 20px;
    background-color: rgba(106, 106, 106, 0.71);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    font-color: white;
    padding: 12px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttonKleinSchwarz span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonKleinSchwarz span:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -40px;
    transition: 1.0s;
}

.buttonKleinSchwarz:hover span {
    padding-right: 25px;
}

.buttonKleinSchwarz:hover span:after {
    opacity: 1;
    right: 0;
}

.eingabefeld {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: text;
}
.eingabefeld {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.eingabefeld:hover {
    background-color: #e7e7e7;
}

.eingabefeld:focus {
    background-color: white;
    border: 2px solid #6d70e7;
}