
/*
*Just for the help popup
*/
#backgroundPopup {
    display: none;
    position: fixed;
    _position: absolute; /* hack for internet explorer 6*/
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #9c0000;
    z-index: 1;
}

#popupContact {
    display: none;
    position: fixed;
    _position: absolute; /* hack for internet explorer 6*/
    height: 384px;
    width: 408px;
    background: #FFFFFF;
    z-index: 2;
    padding: 12px;
    font-size: 13px;
}

#Haubelt TODO, Bitte schriftgrösen Hierarchisch anlegen
h1 {
    font-size: 15px;
}
h2 {
    font-size: 13px;
}
h3 {
    font-size: 11px;
}
p {
    font-size: 8px;
}

#popupContact h1 {
    text-align: left;
    color: #9c0000;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 2px;
    margin-bottom: 20px;
}

#popupContactClose {
    font-size: 14px;
    line-height: 14px;
    right: 6px;
    top: 4px;
    position: absolute;
    color: #9c0000;
    font-weight: 700;
    display: block;
}

/*div#Fusszeile {
    clear: both;
    font-size: 0.9em;
    margin: 0;
    padding: 0.1em;
    text-align: center;
    background-color: #ededed;
}*/

#popup {
    position: absolute;
    display: inline-block;
    border-radius: 4px;
    background-color: #ffffff;
    border: dotted;
    border-color: #4CAF50;
    color: #000000;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 150px;
    transition: all 0.5s;
    cursor: not-allowed;
    margin: 5px;
    left: 10px;
}

/*
#popup {
    float: right;
    position: fixed;
    left: 35%;
    text-align: left;
    background-color: #000000;
    color: #ffffff;
}*/

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -40px;
    transition: 1.0s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.buttonKlein {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 8px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttonKlein span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonKlein span:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -40px;
    transition: 1.0s;
}

.buttonKlein:hover span {
    padding-right: 25px;
}

.buttonKlein:hover span:after {
    opacity: 1;
    right: 0;
}

.buttonKleinBreit {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 8px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttonKleinBreit span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonKleinBreit span:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -40px;
    transition: 1.0s;
}

.buttonKleinBreit:hover span {
    padding-right: 25px;
}

.buttonKleinBreit:hover span:after {
    opacity: 1;
    right: 0;
}

.buttonKleinSchwarz {
    display: inline-block;
    border-radius: 20px;
    background-color: rgba(106, 106, 106, 0.71);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    font-color: white;
    padding: 12px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttonKleinSchwarz span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonKleinSchwarz span:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -40px;
    transition: 1.0s;
}

.buttonKleinSchwarz:hover span {
    padding-right: 25px;
}

.buttonKleinSchwarz:hover span:after {
    opacity: 1;
    right: 0;
}

.eingabefeld {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px;
    width: 200px;
    text-align: left;
    text-decoration: dotted;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: text;
}
.eingabefeld {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.eingabefeld:hover {
    background-color: #e7e7e7;
}

.eingabefeld:focus {
    background-color: white;
    border: 2px solid #6d70e7;
}

.buttonKleinSchmal {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 60px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttonKleinSchmal span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonKleinSchmal span:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -40px;
    transition: 1.0s;
}

.buttonKleinSchmal:hover span {
    padding-right: 25px;
}

.buttonKleinSchmal:hover span:after {
    opacity: 1;
    right: 0;
}

/* remove standard-styles */
select {
    border:none;
    border-radius: 0;
    font-size: 1em;
    width: 100%
}

/* styling */
select {
    width: 200px;
    border: 2px solid #bbb;
    padding:.75em 1em .5em 1em;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2);
    background-color:white;
    background-position: right;
    background-repeat: no-repeat;
}

select:hover {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}