/*Author Maximilian Haubelt*/

h1 {
    font-size: 15px;
    font-weight: 700;
}
h2 {
    font-size: 13px;
    font-weight: 500;
}
h3 {
    font-size: 11px;
    font-weight: 400;
}
p {
    font-size: 15px;
}

.m1 {
    font-size: 55px;
    font-family: Arial;
    font-weight: bold;
    margin-left: 20px;
    color: #005BB2;
}

.m2 {
    font-size: 25px;
    margin-left: 20px;
}

.m3 {
    font-size: 20px;
    margin-left: 20px;
    color: #3e3e3e;
}

.m4 {
    font-size: 18px;
    margin-left: 20px;
    font-family: 'Comic Sans MS';
    font-style: italic
}

/*.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -40px;
    transition: 1.0s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}*/

.buttonKlein {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 8px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttonKlein span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonKlein span:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -40px;
    transition: 1.0s;
}

.buttonKlein:hover span {
    padding-right: 25px;
}

.buttonKlein:hover span:after {
    opacity: 1;
    right: 0;
}

.buttonKleinBreit {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 8px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttonKleinBreit span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonKleinBreit span:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -40px;
    transition: 1.0s;
}

.buttonKleinBreit:hover span {
    padding-right: 25px;
}

.buttonKleinBreit:hover span:after {
    opacity: 1;
    right: 0;
}

.buttonKleinSchwarz {
    display: inline-block;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.71);
    border: none;
    text-align: center;
    font-size: 18px;
    font-color: white;
    padding: 12px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttonKleinSchwarz span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonKleinSchwarz span:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -40px;
    transition: 1.0s;
}

.buttonKleinSchwarz:hover span {
    padding-right: 25px;
}

.buttonKleinSchwarz:hover span:after {
    opacity: 1;
    right: 0;
}

.eingabefeld {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px;
    width: 200px;
    text-align: left;
    text-decoration: dotted;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: text;
}
.eingabefeld {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.eingabefeld:hover {
    background-color: #e7e7e7;
}

.eingabefeld:focus {
    background-color: white;
    border: 2px solid #6d70e7;
}

.buttonKleinSchmal {
    display: inline-block;
    border-radius: 4px;
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 60px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttonKleinSchmal span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonKleinSchmal span:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -40px;
    transition: 1.0s;
}

.buttonKleinSchmal:hover span {
    padding-right: 25px;
}

.buttonKleinSchmal:hover span:after {
    opacity: 1;
    right: 0;
}


select {
    border:none;
    border-radius: 0;
    font-size: 1em;
    width: 100%
}

select {
    width: 200px;
    border: 2px solid #bbb;
    padding:.75em 1em .5em 1em;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2);
    background-color:white;
    background-position: right;
    background-repeat: no-repeat;
}

select:hover {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #00004d;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -40px;
    transition: 1.0s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.schwarz {
    background-color: black;
    color: white;
}

.gruen {
    background-color: #008100;
    color: white;
}

.grau {
    background-color: grey;
}

.hellBlau {
    background-color: #9fc9d7;
}

.hellRot {
    background-color: rgba(255, 89, 80, 0.81);
}

.breite1 {
    width: 300px;
}

.breite2 {
    width: 200px;
}

.Breite3 {
    width: 120px;
}

.breite4 {
    width: 60px;
}

.schrift1 {
    font-size: 25px;
}

.schrift2 {
    font-size: 18px;
}

.schrift3 {
    font-size: 15px;
}

.hoehe1 {
    padding: 20px;
}

.hoehe2 {
    padding: 12px;
}

.hoehe3 {
    padding: 8px;
}

.hoehe4 {
    padding: 5px;
}

.flachBreit {
    font-size: 15px;
    padding: 8px;
}