
/*
Hintergrund
*/
body {
    color: #474973;
    background-color: #FFFFFF;
    font-size: 100.01%;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 1em;
}

/*
Umrandung von der Menüleiste
*/
ul#Navigation {
    font-size: 0.91em;
    float: left;
    width: 22em;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

/*
Menüleiste links: Optionen für die Liste
*/
ul#Navigation li {
    list-style: element(1);
    margin: 0;
    padding: 0.5em;
}

/*
Menüleiste links: Fett und Schrifthinterlegung
*/
ul#Navigation a {
    display: block;
    padding: 0.2em;
    font-weight: bold;
    font-family: Arial;
}

/*
wenn ich es noch nicht geklickt hab: bis klick dauerhaft
*/
ul#Navigation a:link {
    color: #2b17c0;
    background-color: #ededed;
    text-decoration: none;
}

/*
wenn man es mal geklickt hat: danach dauerhaft
*/
ul#Navigation a:visited {
    color: #2b17c0;
    background-color: white;
}

/*
wenn mitm Zeiger drauf
*/
ul#Navigation a:hover {
    color: #000000;
    background-color: rgba(34, 39, 255, 0.25);
}

/*
beim klicken
*/
ul#Navigation a:active {
    color: #000000;
    background-color: #2b17c0;
}

/*

*/
div#Inhalt {
    margin-left: 22em;
    padding: 0 1em;
    min-width: 16em;
}

div#Inhalt h1 {
    font-size: 1.5em;
    margin: 0 0 1em;
    color: #9c0000;
}

div#Inhalt h2 {
    font-size: 1.2em;
    margin: 0 0 1em;
    color: #9c0000;
}

div#Inhalt p {
    font-size: 1em;
    margin: 1em 0;
}
/*
*Just for the help popup
*/
#backgroundPopup {
    display: none;
    position: fixed;
    _position: absolute; /* hack for internet explorer 6*/
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #9c0000;
    z-index: 1;
}

#popupContact {
    display: none;
    position: fixed;
    _position: absolute; /* hack for internet explorer 6*/
    height: 384px;
    width: 408px;
    background: #FFFFFF;
    z-index: 2;
    padding: 12px;
    font-size: 13px;
}

#popupContact h1 {
    text-align: left;
    color: #9c0000;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 2px;
    margin-bottom: 20px;
}

#popupContactClose {
    font-size: 14px;
    line-height: 14px;
    right: 6px;
    top: 4px;
    position: absolute;
    color: #9c0000;
    font-weight: 700;
    display: block;
}

/*div#Fusszeile {
    clear: both;
    font-size: 0.9em;
    margin: 0;
    padding: 0.1em;
    text-align: center;
    background-color: #ededed;
}*/

#popup {
    float: right;
    position: fixed;
    left: 50%;
    text-align: left;
    background-color: red;
}